.icons{
  .card-body{
    padding: 1rem 2.5rem;
    .ex-md-icons {
      padding: 1rem;
      i{
        font-size: 40px;
      }
    }
    .ex-fa-icons{
      padding: 1.3rem;
      i{
        font-size: 35px;
      }
    }
  }
}