.icons{
  .card-body{
    h4{
      margin-top: 1rem;
    }
    padding: 1rem 2.5rem;
    .ex-md-icons {
      padding: 1rem;
      i{
        font-size: 40px;
      }
    }
    .ex-fa-icons{
      padding: 1.3rem;
      i{
        font-size: 35px;
      }
    }
  }
  h6{
    text-align: right;
  }
}