@import "node_modules/bootstrap/scss/functions";
@import "variables";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/compass-mixins/lib/compass";

/** sidebar mini mixin*/
@mixin sidebar-mini-mixin() {
  .sidebar-header > strong {
    display: none !important;
  }
  .sidebar-item {
    margin: 0;
    a {
      margin: .5rem 0 0 .5rem;
      strong, .arrow,{
        display: none !important;
      }
      i.toggle-icon{
        right: 0 !important;
        font-size: 1rem;
        top: .8rem !important;
      }
    }
  }
}

/** hover bg color **/
@mixin basic-hover  {
  background-color: lighten($secondary,20%);
  color: $white;
}

/** darken the border of the element */
@mixin darken-border($color,$size:1px,$type:solid) {
  border: $size $type darken($color,10%);
}