//font
$font-family-base: 'Open Sans', sans-serif;

//color
$black : #191919;
$white : #fff;

$body-bg: #eee;

$default: #999;
$primary: #6200ea;
$secondary: #a6c;
$sucess: #00c853;
$info: #33b5e5;
$warning: #ffa000;
$danger: #ff5252;
$error: #ff5252;
$alert: #ffdb5b;


// Pagination
$pagination-padding-y:.5rem;
$pagination-padding-x:0;
$pagination-line-height:1.5rem;
$pagination-color:$black;
$pagination-hover-color:$white;
$pagination-hover-bg:lighten($primary,40%);
$pagination-active-color:$primary;




$btn-round-br : 1.5rem;

//sidebar
$sidebar-width: 20%;
$sidebar-mini-width: 5%;
$sidebar-width-mob: 70%;
$sidebar-width-ipad: 30%;
$sidebar-zindex:999;

// navbar
$navbar-height: 50px;
$navbar-zindex:$sidebar-zindex + 10;
