
$black : #191919;
$white : #fff;

$body-bg: #eee !default;
$sucess: #00c853 !default;
$error: #ff5252 !default;
$danger: #ff5252 !default;
$info: #6200ea !default;
$primary: #6200ea !default;
$alert: #ffdb5b !default;
$warning: #ffa000 !default;


$font-family-base: 'Open Sans', sans-serif;


$navbar-height: 50px;

$sidebar-width: 20%;
$sidebar-width-mob: 65%;
$sidebar-width-ipad: 30%;

$mobile-screen: 480px;

