<h4>Stats : </h4>
<app-stats></app-stats>

<div class="row">
  <div class="col-md-7">
    <h4 class="mt-4">Task : </h4>
    <app-tasks></app-tasks>
    <h4 class="mt-4"> Events : </h4>
    <div class="card">
      <div class="card-body sm-p-0">
        <div id="cal"></div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <h4 class="mt-4">Activity : </h4>
    <div class="card">
      <div class="card-body">
        <div class="activity">
          <div *ngFor="let data of activitys"  class="activity-block">
            <div class="activity-icon"><i class="material-icons">{{data.icon}}</i></div>
            <div class="activity-content card">
              <div class="activity-content-head card-header">{{data.head}}</div>
              <div class="activity-content-body card-body">{{data.body}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>