
.examples{
  .tab-content{
    margin-top: -1px;
    > .tab-pane{
      background-color: #fff;
      border-color: #fff;
      padding: 1rem;
    }
  }
  .nav-tabs{
    display: table;
    table-layout: fixed;
    border: none;
    width: 100%;
    >li{
      display: table-cell;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      .nav-link{
        padding: 1rem;
        &.active{
          color: #495057;
          background-color:#fff;
          border-color:#fff;
        }
      }
    }   
  }
}
