
.wrapper{
	min-width: 600px;
	max-width: 900px;
	margin: 0 auto;
}

.tabs{
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	
	>li{
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: center;
		padding: 20px 20px 25px 20px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		color: white;
		
		&:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, .3);
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;
		}
		
		&:hover{
			&:before{
				-webkit-transform: translateY(70%);
				transform: translateY(70%);
			}
		}
		
		&.active{
			color: rgb(80, 85, 90);
			
			&:before{
				transition-duration: .5s;
				background-color: white;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}

.tab__content{
	background-color: white;
	position: relative;
	width: 100%;
	border-radius: 5px;
	
	>li{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		display: none;
		list-style: none;
		
		.content__wrapper{
			text-align: center;
			border-radius: 5px;
			width: 100%;
			padding: 45px 40px 40px 40px;
			background-color: white;
		}
	}
}

.content__wrapper{
	h2{
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
		font-weight: 300;
	}
	
	img{
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
}

.colors{
	text-align: center;
	padding-top: 20px;
	
	>li{
		list-style: none;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border-bottom: 5px solid rgba(0, 0, 0, .1);
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		transition-duration: .2s;
		box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
		
		&:hover{
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			border-bottom: 10px solid rgba(0, 0, 0, .15);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
		}
		
		&.active-color{
			-webkit-transform: scale(1.2) translateY(-10px);
			transform: scale(1.2) translateY(-10px);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
			border-bottom: 20px solid rgba(0, 0, 0, .15);
		}
		
		&:nth-child(1){
			background-color: #2ecc71;
		}
		
		&:nth-child(2){
			background-color: #D64A4B;
		}
		
		&:nth-child(3){
			background-color: #8e44ad;
		}
		
		&:nth-child(4){
			background-color: #46a1de;
		}
		
		&:nth-child(5){
			background-color: #bdc3c7;
		}
	}
}