@import "../../assets/style/mixins";

.navigation-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $navbar-zindex;
  height: $navbar-height;
  background-color: $white;
  padding: 0 1rem;
  box-shadow: $box-shadow;
  &.hidden {
    top: -$navbar-height;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;    
    align-items: center;
    li {
      display: flex;
      padding: 0.5em;
    }
  }
  .navbar-brand {
    display: none;
    text-align: center;
  }
}

/* navbar burger button */
.nav-toggle-btn {
  display: none;
  width: 2rem;
  padding: 1rem 0;
  position: absolute;
  span {
    width: 50%;
    height: 2px;
    position: absolute;
    background: $black;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(even) {
      left: 50%;
    }
    &:nth-child(1), &:nth-child(2) {
      top: 5px;
    }
    &:nth-child(3), &:nth-child(4) {
      top: 15px;
    }
    &:nth-child(5), &:nth-child(6) {
      top: 25px;
    }
  }
}
/* navbar burger button animation*/
.nav-toggle-btn.open {
  span{
    &:nth-child(1),&:nth-child(6) {
      transform: rotate(45deg);
    }
    &:nth-child(2),&:nth-child(5) {
      transform: rotate(-45deg);
    }
    &:nth-child(1) {
      left: 2.5px;
      top: 10px;
    }
    &:nth-child(2) {
      left: calc(50% - 2.5px);
      top: 10px;
    }
    &:nth-child(3) {
      left: -40%;
      opacity: 0;
    }
    &:nth-child(4) {
      left: 90%;
      opacity: 0;
    }
    &:nth-child(5) {
      left: 2.5px;
      top: 20px;
    }
    &:nth-child(6) {
      left: calc(50% - 2.5px);
      top: 20px;
    }
  }
}

@include media-breakpoint-down(lg) {
  #minimizeSidebar{
    display: none;
  }
  .nav-toggle-btn {
    display: inline-block;
  }
  .navigation-bar{
    left: $sidebar-mini-width-md;
    &:not(.sidebar-hidden) {
      left: 0;
    }
    ul.left-ul{
      display: none;
    }
    .navbar-brand {
      display: block;
      width: 40%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navigation-bar {
    left: 0;
    ul {
      display: none;
    }
    .navbar-brand {
      width: 100%;
    }
  }
}
