<nav class="navbar navigation-bar"  [class.hidden]="navbarToggle">
  <div class="nav-toggle-btn" [class.open]="!sidebarToggler" (click)="toggleSidebar()">
    <span *ngFor="let number of [0,1,2,3,4,5]"></span>
  </div>
  <div class="navbar-brand">
    <a>
      <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      ANGULAR ADMIN
    </a>
  </div>
  <ul>
    <li class="nav-item">Dashboard</li>
  </ul>
  <ul>
    <li>
      <form class="form-inline">
        <input class="form-control mr-sm-2 no-border" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0 btn-just-icon rounded-circle" type="submit"><i class="material-icons">search</i></button>
      </form>
    </li>
    <li class="nav-item"><i class="material-icons">notifications</i></li>
    <li class="nav-item"><i class="material-icons">person</i></li>
  </ul>
</nav>