@import "mixins";

.navigation-bar {
  position: fixed;
  top:      0;
  right:    0;
  padding:  0 1rem;
  z-index:            $navbar-zindex;
  height:             $navbar-height;
  box-shadow:         $box-shadow;
  background-color:   $navbar-bg;
  
  &.hidden {
    top:  -$navbar-height - 10px;
  }
  
  ul {
    display:      flex;
    margin:       0;
    padding:      0;    
    align-items:  center;
    li {
      display:  flex;
      padding:  0.5em;
    }
  }
  .navbar-brand {
    display:      none;
    text-align:   center;
  }
}

/* navbar burger button */
.nav-toggle-btn {

  display:  none;
  width:    2.2rem;
  padding:  1rem 0;
  position: absolute;
  
  span {
    width:      100%;
    height:     2px;
    position:   absolute;
    background: $black;
    transform:  rotate(0deg);
    transition: .25s ease-in-out;
    
    &:nth-child(1) {
      top:                5px;
      transform-origin:   left center;
    }
    
    &:nth-child(2) {
      top:                15px;
      transform-origin:   left center;
    }
    &:nth-child(3) {
      top:              25px;
      transform-origin: left center;
    }
  }
}

/* navbar burger button animation*/
.nav-toggle-btn.open {
  span {
    &:nth-child(1) {
      transform:  rotate(45deg);
      top:    2px;
      left:   4px;
    }
    &:nth-child(2) {
      width:    0%;
      opacity:  0;
    }
    &:nth-child(3) {
      transform:  rotate(-45deg);
      top:        27px;
      left:       4px;
    }
  }
}

@include media-breakpoint-down(lg){
  .navigation-bar {
    left: $sidebar-width-lg;
  }
}

@include media-breakpoint-down(md) {
  #minimizeSidebar {
    display: none;
  }
  .nav-toggle-btn {
    display: inline-block;
  }
  .navigation-bar {
    left:  $sidebar-mini-width-md;
    &:not(.sidebar-hidden) {
      left: 0;
    }
    ul.left-ul {
      display: none;
    }
    .navbar-brand {
      display:  block;
      width:    40%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navigation-bar {
    left: 0;
    ul {
      display: none;
    }
    .navbar-brand {
      width: 100%;
    }
  }
}
