<nav class="navbar navigation-bar"  [class.hidden]="cmnSrv.dashboardState.navbarToggle" [class.sidebar-hidden]="cmnSrv.dashboardState.sidebarToggle">
  <div class="nav-toggle-btn" [class.open]="!cmnSrv.dashboardState.sidebarToggle" (click)="cmnSrv.sidebarToggle()">
    <span *ngFor="let number of [0,1,2]"></span>
  </div>
  <div class="navbar-brand">
    <a>
        <!-- <img class="brandImg" src="http://via.placeholder.com/60x60" alt="brandImg"> -->
      ANGULAR ADMIN
    </a>
  </div>
  
  <ul class="left-ul">
    <li>
      <button id="minimizeSidebar" class="btn btn-just-icon btn-round btn-light" (click)="cmnSrv.sidebarMiniToggle()">
        <i *ngIf="!cmnSrv.dashboardState.sidebarMiniToggle" class="material-icons sd-visible">more_vert</i>
        <i *ngIf="cmnSrv.dashboardState.sidebarMiniToggle" class="material-icons sdm-visible">view_list</i>
      </button>
    </li>
    <li class="nav-item">Dashboard</li>
  </ul>
  <ul class="right-ul">
    <li>
      <form class="form-inline">
        <input class="form-control mr-sm-2 no-border" type="search" placeholder="Search" aria-label="Search">
        <button class="btn  btn-just-icon btn-round btn-light" type="submit"><i class="material-icons">search</i></button>
      </form>
    </li>
    <li class="nav-item"><i class="material-icons">notifications</i></li>
    <li class="nav-item"><i class="material-icons">person</i></li>
  </ul>
</nav>