<div class="grid-system">

  <h4>Always Horizontal</h4>

  <h6>Equally distributed across all devices automatiaclly</h6>
  <div class="row">
    <div class="col" *ngFor="let n of [0,1,2,3,4,5,7,8,9,10,11]">
      <div class="card">
        <div class="card-body">.col</div>
      </div>
    </div>
  </div>

  <h6>Four columns across all devices</h6>
  <div class="row">
    <div class="col-3" *ngFor="let n of [0,1,2,3]">
      <div class="card">
        <div class="card-body">.col-3</div>
      </div>
    </div>
  </div>

  <h6>Three columns across all devices</h6>
  <div class="row">
    <div class="col-4" *ngFor="let n of [0,1,2]">
      <div class="card">
        <div class="card-body">.col-4</div>
      </div>
    </div>
  </div>

  <h6>Two columns across all devices</h6>
  <div class="row">
    <div class="col-6" *ngFor="let n of [0,1]">
      <div class="card">
        <div class="card-body">.col-6</div>
      </div>
    </div>
  </div>

  <h6>Single columns across all devices</h6>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">.col-12</div>
      </div>
    </div>
  </div>

  <br>
  <h4>Mixed Columns</h4> 
  <!-- <h6>Showing different sizes on different screens</h6> -->
  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let n of [0,1,2,3,4,5]">
      <div class="card">
        <div class="card-body">.col-md-6 .col-lg-4</div>
      </div>
    </div>
  </div>

  <br>
  <h4>Column wrapping</h4>
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-body">.col-9</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">.col-4
          <br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">.col-6
          <br>Subsequent columns continue along the new line.
        </div>
      </div>
    </div>
  </div>

  <br>
  <h4>Offsetting columns</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">.col-md-4</div>
      </div>
    </div>
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">.col-md-4 .offset-md-4</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <div class="card">
        <div class="card-body">.col-md-4 .offset-md-4</div>
      </div>
    </div>
    <div class="col-md-3 offset-md-3">
      <div class="card">
        <div class="card-body">.col-md-4 .offset-md-4</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">.col-md-6 .offset-md-3</div>
      </div>
    </div>
  </div>

  <br>
  <h4>Vertical alignment</h4>
  <div class="row alignment">
    <div class="col align-self-start">
      <div class="card">
        <div class="card-body">One of three columns</div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="card">
        <div class="card-body">One of three columns</div>
      </div>
    </div>
    <div class="col align-self-end">
      <div class="card">
        <div class="card-body">One of three columns</div>
      </div>
    </div>
  </div>

  <br>
  <h4>Horizontal alignment</h4>
  <div class="row justify-content-start">
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">One of two columns</div>
      </div>
    </div>
  </div>

  <br>
  <h4>Example</h4>
  <div class="card example">
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md">
              <h5>Column 1</h5>
             <p> Lorem ipsum dolor sit amet orem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="col-md">
              <h5>Column 2</h5>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> 
            </div>
            <div class="w-100"></div>
            <div class="col-md">
              <h5>Column 3</h5>
             <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt maxime voluptate molestiae placeat minima facilis, natus
              corporis fugit voluptates </p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <h5>Column 4</h5>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt maxime voluptate molestiae placeat minima facilis, natus
          corporis fugit voluptates </p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <h6>For complete information on Bootstrap 4 Grid system :
    <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Bootstrap 4 Docs <i class="fa fa-external-link"></i></a>
  </h6>


</div>