.grid-system{
  .col, .col-1, .col-2, .col-3, .col-4, .col-6, .col-12 {
    padding: 0 5px;
  }
  h4{
    margin:15px 0 0 0;
  } 
  h6{
    margin:10px 0 0 0;
  }
  .card, .card-body{
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  .alignment{
    height:200px;
  }
}