<h2 class="heading text-center">Maps</h2>
<br>
<h4>Default Style</h4>
<div class="card">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="9">
    <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
  </agm-map>
</div>
<br>
<h4>Custom Style</h4>
<div class="card">
  <agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="9">
  </agm-map>
</div>

<p class="text-muted d-block mt-5">For angular maps (agm) API Documentation :
  <a href="https://angular-maps.com/" target="_blank">Angular Maps  <i class="material-icons" style="font-size: .9rem">launch</i></a>
</p>
<p class="text-muted d-block mt-2">For Google Maps API Documentation :
  <a href="https://developers.google.com/maps/documentation/" target="_blank">Google Decelopers  <i class="material-icons" style="font-size: .9rem">launch</i></a>
</p>
