<h2 class="text-center heading">Buttons</h2>

<div class="row mt-4">
  <div class="col-lg">
    <h4>Colored</h4>
    <div class="card">
      <div class="card-body ">
        <div class="text-center">
          <button type="button" class="btn w-25 m-3 btn-primary">Primary</button>
          <button type="button" class="btn w-25 m-3 btn-secondary">Secondary</button>
          <button type="button" class="btn w-25 m-3 btn-success">Success</button>
          <button type="button" class="btn w-25 m-3 btn-danger">Danger</button>
          <button type="button" class="btn w-25 m-3 btn-warning">Warning</button>
          <button type="button" class="btn w-25 m-3 btn-info">Info</button>
          <button type="button" class="btn w-25 m-3 btn-light">Light</button>
          <button type="button" class="btn w-25 m-3 btn-dark">Dark</button>
          <button type="button" class="btn w-25 m-3 btn-link">Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg mt-4 mt-md-0">
    <h4>Outline</h4>
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button type="button" class="btn w-25 m-3 btn-outline-primary">Primary</button>
          <button type="button" class="btn w-25 m-3 btn-outline-secondary">Secondary</button>
          <button type="button" class="btn w-25 m-3 btn-outline-success">Success</button>
          <button type="button" class="btn w-25 m-3 btn-outline-danger">Danger</button>
          <button type="button" class="btn w-25 m-3 btn-outline-warning">Warning</button>
          <button type="button" class="btn w-25 m-3 btn-outline-info">Info</button>
          <button type="button" class="btn w-25 m-3 btn-outline-light">Light</button>
          <button type="button" class="btn w-25 m-3 btn-outline-dark">Dark</button>
        </div>
      </div>
    </div>
  </div>
</div>

<h4 class="mt-4"> Sizes </h4>
<div class="card">
  <div class="card-body">
    <button type="button" class="btn w-13 m-3 btn-primary btn-lg">Large</button>
    <button type="button" class="btn w-13 m-3 btn-outline-primary btn-lg">Large</button>
    <button type="button" class="btn w-13 m-3 btn-success">Default</button>
    <button type="button" class="btn w-13 m-3 btn-outline-success">Default</button>
    <button type="button" class="btn w-13 m-3 btn-warning btn-sm">Small</button>
    <button type="button" class="btn w-13 m-3 btn-outline-warning btn-sm">Small</button>
  </div>
</div>

<h4 class="mt-4">Types</h4>
<div class="row">
  <div class="col-md ">
    <h6>Default Border</h6>
    <div class="card">
      <div class="card-body text-center">
        <button type="button" class="btn w-30  m-3 btn-secondary">Default</button>
        <button type="button" class="btn w-30  m-3 btn-outline-secondary">Default</button>
        <div class="w-100"></div>
        <button type="button" class="btn w-30 w-sm-80 m-3 btn-dark"><i class="material-icons">volume_up</i> With Icon</button>
        <button type="button" class="btn w-30 w-sm-80 m-3 btn-outline-dark"><i class="material-icons">mic</i> With Icon</button>
      </div>
    </div>
  </div>
  <div class="col-md mt-3 mt-md-0">
    <h6>Rounded Border</h6>
    <div class="card">
      <div class="card-body text-center">      
        <button type="button" class="btn  w-30 m-3 btn-round btn-info">Round</button>
        <button type="button" class="btn  w-30 m-3 btn-round btn-outline-info">Round</button>
        <div class="w-100"></div>
        <button type="button" class="btn  w-30 w-sm-80 m-3 btn-round btn-warning"><i class="material-icons">check</i> With Icon</button>
        <button type="button" class="btn  w-30 w-sm-80 m-3 btn-round btn-outline-warning"><i class="material-icons">warning</i> With Icon</button>
      </div>
    </div>
  </div>
</div>
  
<h6 class="mt-3">Only Icons</h6>
<div class="card">
  <div class="card-body">
    <button type="button" class="btn m-3 btn-primary btn-just-icon"><i class="material-icons">send</i></button>
    <button type="button" class="btn m-3 btn-outline-primary btn-just-icon"><i class="material-icons">chat</i></button>
    <button type="button" class="btn m-3 btn-light btn-just-icon"><i class="material-icons">volume_up</i></button>
    <button type="button" class="btn m-3 btn-outline-light btn-just-icon"><i class="material-icons">videocam</i></button>
    <button type="button" class="btn m-3 btn-success rounded-circle btn-just-icon"><i class="material-icons">edit</i></button>
    <button type="button" class="btn m-3 btn-outline-success rounded-circle btn-just-icon"><i class="material-icons">add</i></button>
    <button type="button" class="btn m-3 btn-danger rounded-circle btn-just-icon"><i class="material-icons">favorite</i></button>
    <button type="button" class="btn m-3 btn-outline-danger rounded-circle btn-just-icon"><i class="material-icons">close</i></button>
  </div>
</div>

<h6 class="mt-3">Block Level</h6>
<div class="card">
  <div class="card-body">
    <button type="button" class="btn my-3 btn-primary btn-md btn-block">Block level button</button>
    <button type="button" class="btn btn-round my-3 btn-outline-primary btn-md btn-block">Block level button</button>
  </div>
</div>

<h4 class="mt-4">Groups</h4>
<h6>Horizontal Group</h6>
<div class="card">
  <div class="card-body text-center">
    <div class="btn-group m-3">
      <button type="button" class="btn btn-primary">Left</button>
      <button type="button" class="btn btn-primary">Middle</button>
      <button type="button" class="btn btn-primary">Right</button>
    </div>
    <div class="btn-group m-3">
      <button type="button" class="btn btn-outline-primary">Left</button>
      <button type="button" class="btn btn-outline-primary">Midddle</button>
      <button type="button" class="btn btn-outline-primary">Right</button>
    </div>
    <div class="btn-group-round m-3">
      <button type="button" class="btn btn-secondary">First</button>
      <button type="button" class="btn btn-secondary">Second</button>
      <button type="button" class="btn btn-secondary">Third</button>
    </div>
    <div class="btn-group-round m-3">
      <button type="button" class="btn btn-outline-secondary">First</button>
      <button type="button" class="btn btn-outline-secondary">Second</button>
      <button type="button" class="btn btn-outline-secondary">Third</button>
    </div>
  </div>
</div>

<h6 class="mt-3">Vertical Group</h6>
<div class="card">
  <div class="card-body text-center">
    <div class="btn-group btn-group-vertical m-3">
      <button type="button" class="btn text-left btn-info"> ALL </button>
      <button type="button" class="btn text-left btn-info"> Published </button>
      <button type="button" class="btn text-left btn-info"> Unpublished </button>
      <button type="button" class="btn text-left btn-info"> Draft </button>
    </div>
    <div class="btn-group btn-group-vertical m-3">
      <button type="button" class="btn btn-outline-info"> One  </button>
      <button type="button" class="btn btn-outline-info"> Two </button>
      <button type="button" class="btn btn-outline-info"> Three </button>
      <button type="button" class="btn btn-outline-info"> Four </button>
    </div>
    <div class="w-100 show-sm"></div>
    <!-- <div class="btn-group-round btn-group-vertical m-3">
      <button type="button" class="btn pl-4 text-left btn-light"> ALL </button>
      <button type="button" class="btn pl-4 text-left btn-light"> Published </button>
      <button type="button" class="btn pl-4 text-left btn-light"> Unpublished </button>
      <button type="button" class="btn pl-4 text-left btn-light"> Draft </button>
    </div> -->
    <div class="btn-group-round btn-group-vertical m-3">
      <button type="button" class="btn btn-outline-light"> One </button>
      <button type="button" class="btn btn-outline-light"> Two </button>
      <button type="button" class="btn btn-outline-light"> Three </button>
      <button type="button" class="btn btn-outline-light"> Four </button>
    </div>
    <div class="btn-group btn-group-vertical m-3">
      <button type="button" class="btn btn-dark" disabled> GROUP </button>
      <button type="button" class="btn btn-outline-dark"> A </button>
      <button type="button" class="btn btn-outline-dark"> B </button>
      <button type="button" class="btn btn-outline-dark"> C </button>
    </div>
  </div>
</div>

<h6 class="mt-3">Group with Icons</h6>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-8 text-center">
        <div class="btn-group m-3">
          <button type="button" class="btn btn-success hide-sm"> <i class="fa fa-fw fa-mail-forward"></i> Forward</button>
          <button type="button" class="btn btn-success"> <i class="fa fa-fw fa-archive"></i> Archive</button>
          <button type="button" class="btn btn-success"> <i class="fa fa-fw fa-folder"></i> Move</button>
        </div>
        <!-- <div class="btn-group m-3">
          <button type="button" class="btn btn-outline-success "> <i class="fa fa-fw fa-pencil"></i>Create</button>
          <button type="button" class="btn btn-outline-success"> <i class="fa fa-fw fa-book"></i>Read</button>
          <button type="button" class="btn btn-outline-success hide-sm"> <i class="fa fa-fw fa-upload"></i>upload</button>
        </div> -->
        <div class="btn-group m-3">
          <button type="button" class="btn btn-outline-dark"> <i class="fa fa-fw fa-caret-left"></i>Left</button>
          <button type="button" class="btn btn-dark" disabled>Middle</button>
          <button type="button" class="btn btn-outline-dark"> Right <i class="fa fa-fw fa-caret-right"></i></button>
        </div>
        <!-- <div class="btn-group-round m-3">
          <button type="button" class="btn btn-danger"> <i class="fa fa-fw fa-mail-forward"></i> Forward</button>
          <button type="button" class="btn btn-danger hide-sm"> <i class="fa fa-fw fa-archive"></i> Archive</button>
          <button type="button" class="btn btn-danger "> <i class="fa fa-fw fa-folder"></i> Move</button>
        </div> -->
        <div class="btn-group-round m-3">
          <button type="button" class="btn btn-outline-danger"> <i class="fa fa-fw fa-pencil"></i>Create</button>
          <button type="button" class="btn btn-outline-danger hide-sm"> <i class="fa fa-fw fa-book"></i>Read</button>
          <button type="button" class="btn btn-outline-danger"> <i class="fa fa-fw fa-upload"></i>upload</button>
        </div>
        <div class="btn-group-round m-3">
          <button type="button" class="btn btn-outline-dark"> <i class="fa fa-fw fa-caret-left"></i>Left</button>
          <button type="button" class="btn btn-dark" disabled>Middle</button>
          <button type="button" class="btn btn-outline-dark"> Right <i class="fa fa-fw fa-caret-right"></i></button>
        </div>
      </div>
      <div class="col text-center">
        <div class="btn-group btn-group-vertical m-3">
          <button type="button" class="btn btn-info"> <i class="fa fa-fw fa-euro"></i>EUR </button>
          <button type="button" class="btn btn-info"> <i class="fa fa-fw fa-gbp"></i> GBP </button>
          <button type="button" class="btn btn-info"> <i class="fa fa-fw fa-dollar"></i> USD </button>
        </div>
        <div class="btn-group btn-group-vertical m-3">
          <button type="button" class="btn btn-outline-dark"> <i class="fa fa-fw fa-euro"></i>EUR </button>
          <button type="button" class="btn btn-outline-dark"> <i class="fa fa-fw fa-gbp"></i> GBP </button>
          <button type="button" class="btn btn-outline-dark"> <i class="fa fa-fw fa-dollar"></i> USD </button>
        </div>
      </div>
    </div>
  </div>
</div>

    
<h6 class="mt-3">Group only Icons</h6>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-8 text-center">
        <div class="btn-group m-3">
          <button type="button" class="btn btn-primary"> <i class="fa fa-fw fa-align-left"></i> </button>
          <button type="button" class="btn btn-primary"> <i class="fa fa-fw fa-align-justify"></i> </button>
          <button type="button" class="btn btn-primary"> <i class="fa fa-fw fa-align-right"></i> </button>
        </div>
        <div class="btn-group m-3">
          <button type="button" class="btn btn-outline-dark"> <i class="fa fa-fw fa-align-left"></i> </button>
          <button type="button" class="btn btn-outline-dark"> <i class="fa fa-fw fa-align-justify"></i> </button>
          <button type="button" class="btn btn-outline-dark"> <i class="fa fa-fw fa-align-right"></i> </button>
        </div>
        <div class="btn-group-round m-3">
          <button type="button" class="btn btn-secondary"> <i class="fa fa-fw fa-bold"></i> </button>
          <button type="button" class="btn btn-secondary"> <i class="fa fa-fw fa-italic"></i> </button>
          <button type="button" class="btn btn-secondary"> <i class="fa fa-fw fa-underline"></i> </button>
        </div>
        <div class="btn-group-round m-3">
        <button type="button" class="btn btn-outline-success"> <i class="fa fa-fw fa-bold"></i> </button>
        <button type="button" class="btn btn-outline-success"> <i class="fa fa-fw fa-italic"></i> </button>
          <button type="button" class="btn btn-outline-success"> <i class="fa fa-fw fa-underline"></i> </button>
        </div>
        <div class="btn-group-round m-3">
          <button type="button" class="btn btn-warning"> <i class="fa fa-fw fa-plus"></i> </button>
          <button type="button" class="btn btn-outline-warning"> <i class="fa fa-fw fa-minus"></i> </button>
        </div>
        <div class="btn-group-round m-3">
          <button type="button" class="btn btn-outline-light"> <i class="fa fa-fw fa-backward"></i> </button>
          <button type="button" class="btn btn-light"> <i class="fa fa-fw fa-play"></i> </button>
          <button type="button" class="btn btn-outline-light"> <i class="fa fa-fw fa-forward"></i> </button>
        </div>
      </div>
      <div class="col text-center">
        <div class="btn-group btn-group-vertical m-3">
          <button type="button" class="btn btn-outline-primary"> <i class="fa fa-fw fa-bar-chart"></i> </button>
          <button type="button" class="btn btn-outline-primary"> <i class="fa fa-fw fa-pie-chart"></i>  </button>
          <button type="button" class="btn btn-outline-primary"> <i class="fa fa-fw fa-line-chart"></i> </button>
        </div>
        <div class="btn-group-round btn-group-vertical m-3">
          <button type="button" class="btn btn-dark"> <i class="fa fa-fw fa-bar-chart"></i> </button>
          <button type="button" class="btn btn-dark"> <i class="fa fa-fw fa-pie-chart"></i>  </button>
          <button type="button" class="btn btn-dark"> <i class="fa fa-fw fa-line-chart"></i> </button>
        </div>
      </div>
    </div>
  </div>
</div>


<h4 class="mt-4">Pagination</h4>
<div class="card">
  <div class="card-body">
    <div class=" p-4 bg-primary"> <h4 class="text-white"> Current Page no : <span class="text-white">{{ paginationPage }}</span>  </h4>  </div>
    <div class="row p-md-3">
      <div class="col-md">
        <ul class="pagination">
          <li class="page-item">  <a class="page-link " (click)="decPage()"><i class="material-icons">keyboard_arrow_left</i></a></li>
          <li class="page-item" [class.active]="paginationPage === 1 "><a class="page-link" (click)="goToPage(1)">1</a></li>
          <li class="page-item" [class.active]="paginationPage === 2 "><a class="page-link" (click)="goToPage(2)">2</a></li>
          <li class="page-item" [class.active]="paginationPage === 3 "><a class="page-link" (click)="goToPage(3)">3</a></li>
          <li class="page-item" [class.active]="paginationPage === 4 "><a class="page-link" (click)="goToPage(4)">4</a></li>
          <li class="page-item hide-sm" [class.active]="paginationPage === 5 "><a class="page-link"  (click)="goToPage(5)">5</a></li>
          <li class="page-item"><a class="page-link" (click)="incPage()"><i class="material-icons">keyboard_arrow_right</i></a></li>
        </ul>
        <ul class="pagination-round">
          <li class="page-item">  <a class="page-link " (click)="decPage()"><i class="material-icons">keyboard_arrow_left</i></a></li>
          <li class="page-item" [class.active]="paginationPage === 1 " ><a class="page-link" (click)="goToPage(1)">1</a></li>
          <li class="page-item" [class.active]="paginationPage === 2 " ><a class="page-link" (click)="goToPage(2)">2</a></li>
          <li class="page-item" [class.active]="paginationPage === 3 " ><a class="page-link" (click)="goToPage(3)">3</a></li>
          <li class="page-item" [class.active]="paginationPage === 4 " ><a class="page-link" (click)="goToPage(4)">4</a></li>
          <li class="page-item hide-sm"  [class.active]="paginationPage === 5 "><a class="page-link" (click)="goToPage(5)">5</a></li>
          <li class="page-item"><a class="page-link" (click)="incPage()"><i class="material-icons">keyboard_arrow_right</i></a></li>
        </ul>
      </div>
      <div class="col-md">
        <ul class="pagination-shwd">
          <li class="page-item"><a class="page-link" (click)="decPage()"><i class="material-icons">keyboard_arrow_left</i></a></li>
          <li class="page-item" [class.active]="paginationPage === 1 "><a class="page-link" (click)="goToPage(1)">1</a></li>
          <li class="page-item" [class.active]="paginationPage === 2 "><a class="page-link" (click)="goToPage(2)">2</a></li>
          <li class="page-item" [class.active]="paginationPage === 3 "><a class="page-link" (click)="goToPage(3)">3</a></li>
          <li class="page-item" [class.active]="paginationPage === 4 "><a class="page-link" (click)="goToPage(4)">4</a></li>
          <li class="page-item hide-sm" [class.active]="paginationPage ===  5"><a class="page-link" (click)="goToPage(5)">5</a></li>
          <li class="page-item"><a class="page-link" (click)="incPage()"><i class="material-icons">keyboard_arrow_right</i></a></li>
        </ul>
        <ul class="pagination-round-shwd">
          <li class="page-item"><a class="page-link " (click)="decPage()"><i class="material-icons">keyboard_arrow_left</i></a></li>
          <li class="page-item" [class.active]="paginationPage === 1 "><a class="page-link" (click)="goToPage(1)">1</a></li>
          <li class="page-item" [class.active]="paginationPage === 2 "><a class="page-link" (click)="goToPage(2)">2</a></li>
          <li class="page-item" [class.active]="paginationPage === 3 "><a class="page-link" (click)="goToPage(3)">3</a></li>
          <li class="page-item" [class.active]="paginationPage === 4 "><a class="page-link" (click)="goToPage(4)">4</a></li>
          <li class="page-item hide-sm" [class.active]="paginationPage === 5 "><a class="page-link" (click)="goToPage(5)">5</a></li>
          <li class="page-item"><a class="page-link" (click)="incPage()"><i class="material-icons">keyboard_arrow_right</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>