@import "../../../assets/style/mixins";

.w-13{
  width: 13%;
}

@include media-breakpoint-down(md) {
  .w-13, .w-25 {
    width: auto !important;
  }
  .m-lg-3 {
    margin: .3rem;
  }
  .hide-sm{
    display:none;
  }
}