<h2 class="text-center">Buttons</h2>
<br>
<div class="card">
  <div class="card-body">
    <h4>Colored</h4>
    <div class="color-btn">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>

      <button type="button" class="btn btn-link">Link</button>
    </div>

    <h4>Outline</h4>
    <div class="outline-btn">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-light" style="color:#000">Light</button>
      <button type="button" class="btn btn-outline-dark">Dark</button>
    </div>
    <h4>Sizes</h4>
    <div class="size-btn">
      <button type="button" class="btn btn-primary btn-lg">Large</button>
      <button type="button" class="btn btn-primary">Default</button>
      <button type="button" class="btn btn-primary btn-sm">Small</button>
    </div>
    <h4>Group</h4>
    <div class="group-btn">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-info">Left</button>
        <button type="button" class="btn btn-info">Middle</button>
        <button type="button" class="btn btn-info">Right</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-round btn-info">1</button>
        <button type="button" class="btn btn-round btn-info">2</button>
        <button type="button" class="btn btn-round btn-info">3</button>
        <button type="button" class="btn btn-round btn-info">4</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-round btn-info">5</button>
        <button type="button" class="btn btn-round btn-info">6</button>
        <button type="button" class="btn btn-round btn-info">7</button>
      </div>
    </div>
    <h4>Type</h4>
    <div class="type-btn">
      <button type="button" class="btn btn-primary">Default</button>
      <button type="button" class="btn btn-round btn-primary">Round</button>
      <button type="button" class="btn btn-round btn-success">
        <i class="material-icons">check</i> With Icon</button>
      <button type="button" class="btn btn-danger">
        <i class="material-icons">close</i> With Icon</button>
      <button type="button" class="btn btn-primary btn-just-icon">
        <i class="material-icons">search</i>
      </button>
    </div>
    <h4>Pagination</h4>
    <div class="pagination-btn">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>