<h2 class="heading text-center">Charts</h2>
<br>

<div class="row">
  <div class="col-lg">
    <h4>Pie chart</h4>
    <div class="card">
      <div class="card-body">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>
  <div class=" col-lg">
    <h4>Polar chart</h4>
    <div class="card">
      <div class="card-body">
        <canvas id="polarChart"></canvas>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-lg">
    <h4>Radar chart</h4>
    <div class="card">
      <div class="card-body">
        <canvas id="radarChart"></canvas>
      </div>
    </div>
  </div>
  <div class=" col-lg">
    <h4>Bar chart</h4>
    <div class="card">
      <div class="card-body">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
</div>