 <h2 class="heading text-center">Notifications</h2>
<!--
<br>
<div class="card">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="type">Type select</label>
        <select id="type" class="form-control" name="type" formControlName="type">
          <option *ngFor="let t of types" [value]="t">{{t}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" name="title" type="text" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input class="form-control" id="content" name="content" type="text" formControlName="content">
      </div>
      <div class="form-group">
        <label for="timeOut">Time Out</label>
        <input class="form-control" id="timeOut" name="timeOut" type="number" formControlName="timeOut">
      </div>
      <div class="form-group">
        <label for="animate">Animation</label>
        <select class="form-control" id="animate" name="animate" formControlName="animate">
          <option *ngFor="let t of animationTypes" [value]="t">{{t}}</option>
        </select>
      </div>
      <div class="form-inline">
        <label class="field-label">Show progress bar?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="showProgressBar" id="showProgressBar-yes" [value]="true" formControlName="showProgressBar">
          <label class="form-check-label" for="showProgressBar-yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="showProgressBar" id="showProgressBar-no" [value]="false" formControlName="showProgressBar">
          <label class="form-check-label" for="showProgressBar-no">No</label>
        </div>
      </div>
      <div class="form-inline">
        <label class="field-label">Prevent Duplicates?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="preventDuplicates" id="preventDuplicates-yes" [value]="true" formControlName="preventDuplicates">
          <label class="form-check-label" for="preventDuplicates-yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="preventDuplicates" id="preventDuplicates-no" [value]="false" formControlName="preventDuplicates">
          <label class="form-check-label" for="preventDuplicates-no">No</label>
        </div>
      </div>
      <div class="form-inline">
        <label class="field-label">Prevent Last Duplicates?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="preventLastDuplicates" id="preventLastDuplicates-yes" [value]="true" formControlName="preventLastDuplicates">
          <label class="form-check-label" for="preventLastDuplicates-yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="preventLastDuplicates" id="preventLastDuplicates-no" [value]="false" formControlName="preventLastDuplicates">
          <label class="form-check-label" for="preventLastDuplicates-no">No</label>
        </div>
      </div>
      <div class="form-inline">
        <label class="field-label">Pause on hover?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pauseOnHover" id="pauseOnHover-yes" [value]="true" formControlName="pauseOnHover">
          <label class="form-check-label" for="pauseOnHover-yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pauseOnHover" id="pauseOnHover-no" [value]="false" formControlName="pauseOnHover">
          <label class="form-check-label" for="pauseOnHover-no">No</label>
        </div>
      </div>
      <div class="form-inline">
        <label class="field-label">Click to close?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="clickToClose" id="clickToClose-yes" [value]="true" formControlName="clickToClose">
          <label class="form-check-label" for="clickToClose-yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="clickToClose" id="clickToClose-no" [value]="false" formControlName="clickToClose">
          <label class="form-check-label" for="clickToClose-no">No</label>
        </div>
      </div>
      <button type="submit" (click)="create()" class="btn btn-primary mb-2">Confirm identity</button>
    </form>
  </div>
</div>
<h6 class="text-right">get detailed information at : <a href="https://github.com/flauc/angular2-notifications"> angular2-notifications <i _ngcontent-c7="" class="material-icons">launch</i> </a></h6> -->
