@import '../styles.scss';

.wrapper{
  display: flex;
}
.sidebar-panel{
  width: $sidebar-width;
}
.main-panel{
  width: calc(100% - #{$sidebar-width});
  .panel-content{
    margin: $navbar-height;
    margin-top: $navbar-height *2;
  }
}

@media only screen and (max-device-width : $mobile-screen) {
  .sidebar-panel{
    width: 0;
  }
  .main-panel{
    width: 100%;
    .panel-content{
      margin: $navbar-height / 2;
      margin-top: ($navbar-height * 2) - 20px ;
    }
  } 
}
