@import '../styles.scss';

.wrapper{
  display: flex;
}
.sidebar-panel{
  width: $sidebar-width;
}
.main-panel{
  width: calc(100% - #{$sidebar-width});
  .panel-content{
    margin: $navbar-height;
    margin-top: $navbar-height + $navbar-height;
    background: $white;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  }
}

@media only screen and (max-device-width : 480px) {
  .sidebar-panel{
    width: 0;
  }
  .main-panel{
    width: 100%;
  } 
}

// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
//   .sidebar-panel{
//     width: $sidebar-width-ipad;
//   }
//   .main-panel{
//     width: calc(100% - #{$sidebar-width-ipad});
//   }
// }
