<div class="sidebar" [class.hide]="sidebarToggle">
  <div class="sidebar-header align-middle">
    <!-- <img src="" alt="brand image"> -->
    <p>BRAND NAME</p>
  </div>
  <hr>
  <div class="sidebar-body">
    <ul>
      <li class="sidebar-item">
        <a href=""><i class="material-icons">dashboard</i> <p>Dashboard</p></a>
      </li>
      <li class="sidebar-item">
        <a href=""><i class="material-icons">apps</i> <p>components</p> </a>
      </li>
      <li class="sidebar-item">
        <a href=""><i class="material-icons">ballot</i> <p>forms</p></a>
      </li>
      <li class="sidebar-item">
        <a href=""><i class="material-icons">grid_on</i> <p>tables</p></a>
      </li>
      <li class="sidebar-item">
        <a href=""> <i class="material-icons">show_chart</i> <p>charts</p> </a>
      </li>
      <li class="sidebar-item">
        <a href=""><i class="material-icons">place</i> <p>maps</p></a>
      </li>
      <li class="sidebar-item">
        <a href=""><i class="material-icons">edit</i> <p>editors</p> </a>
      </li>
      <li class="sidebar-item">
        <a href=""><i class="material-icons">pages</i> <p>pages</p> </a>
      </li>
      <li class="sidebar-item">
        <a href=""><i class="material-icons">date_range</i> <p>calendar</p> </a>
      </li>
    </ul>
  </div>
</div>