@import '../../styles.scss';

.sidebar{
  height: 100vh;
  width:100%;
  background-color: $black;
  transition-property: top,bottom,width;
  transition-duration: .2s,.2s,.35s;
  transition-timing-function: linear,linear,ease;
  box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.toggle-btn{
  display: none;
  position: relative;
  top: 0;
  left: 100%;
  button{
    background: transparent;
    i.material-icons{
      font-size:30px;
    }
    &:focus,&:active{
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}



@media only screen and (max-device-width : 480px) {
  .toggle-btn{
    display: initial;
  }
  .sidebar{
    &.hide {
      width:0;
      // display: none;
      // background-color: aqua;
    }
  }
}
