<div class="sidebar" [class.hide]="sidebarToggle">
  <div class="sidebar-header align-middle">
    <!-- <img src="" alt="brand"> -->
    <p>ANGULAR ADMIN</p>
  </div>
  <hr>
  <div class="sidebar-body">
    <ul>
      <li class="sidebar-item">
        <a routerLink="/"><i class="material-icons">dashboard</i> <p>Dashboard</p></a>
      </li>
      <li class="sidebar-item">
        <a data-toggle="collapse" href="#componentsExamples"><i class="material-icons">apps</i> <p>components</p> </a>
        <div class="collapse" id="componentsExamples">
            <ul>
                <li class="sub-item ">
                    <a class="nav-link" routerLink="/components/buttons">
                      <span class="sidebar-mini"> B </span>
                      <span class="sidebar-normal"> Buttons </span>
                    </a>
                </li>
                <li class="sub-item ">
                    <a class="nav-link" routerLink="/home">
                      <span class="sidebar-mini"> GS </span>
                      <span class="sidebar-normal"> Grid System </span>
                    </a>
                </li>
                <li class="sub-item ">
                    <a class="nav-link" routerLink="/home">
                      <span class="sidebar-mini"> P </span>
                      <span class="sidebar-normal"> Panels </span>
                    </a>
                </li>
                <li class="sub-item ">
                    <a class="nav-link" routerLink="/home">
                      <span class="sidebar-mini"> SA </span>
                      <span class="sidebar-normal"> Sweet Alert </span>
                    </a>
                </li>
                <li class="sub-item ">
                    <a class="nav-link" routerLink="/home">
                      <span class="sidebar-mini"> N </span>
                      <span class="sidebar-normal"> Notifications </span>
                    </a>
                </li>
                <li class="sub-item ">
                    <a class="nav-link" routerLink="/home">
                      <span class="sidebar-mini"> I </span>
                      <span class="sidebar-normal"> Icons </span>
                    </a>
                </li>
                <li class="sub-item ">
                    <a class="nav-link" routerLink="/home">
                      <span class="sidebar-mini"> T </span>
                      <span class="sidebar-normal"> Typography </span>
                    </a>
                </li>
            </ul>
        </div>
      </li>
      <li class="sidebar-item">
        <a><i class="material-icons">ballot</i> <p>forms</p></a>
      </li>
      <li class="sidebar-item">
        <a><i class="material-icons">grid_on</i> <p>tables</p></a>
      </li>
      <li class="sidebar-item">
        <a> <i class="material-icons">show_chart</i> <p>charts</p> </a>
      </li>
      <li class="sidebar-item">
        <a><i class="material-icons">place</i> <p>maps</p></a>
      </li>
      <li class="sidebar-item">
        <a><i class="material-icons">edit</i> <p>editors</p> </a>
      </li>
      <li class="sidebar-item">
        <a><i class="material-icons">pages</i> <p>pages</p> </a>
      </li>
      <li class="sidebar-item">
        <a><i class="material-icons">date_range</i> <p>calendar</p> </a>
      </li>
    </ul>
  </div>
</div>