<h2 class="heading text-center">Tables</h2>
<br>
<h4>Default Tables</h4>
    <div class="row">
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <!-- <h5>Table 1</h5> -->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" *ngFor="let head of defaultTable.head">{{head}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let body of defaultTable.body;let i = index;">
                  <th scope="row">{{i}}</th>
                  <td *ngFor="let data of body">{{data}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <!-- <h5>Table 1</h5> -->
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col" *ngFor="let head of defaultTable.head">{{head}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let body of defaultTable.body;let i = index;">
                  <th scope="row">{{i}}</th>
                  <td *ngFor="let data of body">{{data}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="w-100 m-3"></div>
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <!-- <h5>Table 2</h5> -->
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" *ngFor="let head of defaultTable.head">{{head}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let body of defaultTable.body;let i = index;">
                  <th scope="row">{{i}}</th>
                  <td *ngFor="let data of body">{{data}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <!-- <h5>Table 2</h5> -->
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" *ngFor="let head of defaultTable.head">{{head}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let body of defaultTable.body;let i = index;">
                  <th scope="row">{{i}}</th>
                  <td *ngFor="let data of body">{{data}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="w-100 m-3"></div>
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <!-- <h5>Table 3</h5> -->
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th scope="col" *ngFor="let head of defaultTable.head">{{head}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let body of defaultTable.body;let i = index;">
                  <th scope="row">{{i}}</th>
                  <td *ngFor="let data of body">{{data}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>  
      </div>
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <!-- <h5>Table 4</h5> -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" *ngFor="let head of defaultTable.head">{{head}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let body of defaultTable.body;let i = index;">
                  <th scope="row">{{i}}</th>
                  <td *ngFor="let data of body">{{data}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->

<br>
<br>
<h5>Smart Table</h5>
<div class="card">
  <div class="card-body"></div>
</div>
<p class="text-right"> For More Details :-
  <a href="https://github.com/lorenzofox3/Smart-Table" target="_blank"> Angular Smart Tables
    <i class="material-icons">launch</i>
  </a>
</p>