<h2 class="text-center heading">Typography</h2>
<br>
<div class="row ">
  <div class="col-xl">
    <h4>Headings</h4>
    <div class="card">
      <div class="card-body">
        <h1>h1. Heading
          <span class="float-right note text-muted">font-size:
            <br> 2.50rem</span>
        </h1>
        <br>
        <h2>h2. Heading
          <span class="float-right note text-muted">font-size:
            <br> 2.00rem</span>
        </h2>
        <br>
        <h3>h3. Heading
          <span class="float-right note text-muted">font-size:
            <br> 1.75rem</span>
        </h3>
        <br>
        <h4>h4. Heading
          <span class="float-right note text-muted">font-size:
            <br> 1.50rem</span>
        </h4>
        <br>
        <h5>h5. Heading
          <span class="float-right note text-muted">font-size:
            <br> 1.25rem</span>
        </h5>
        <br>
        <h6>h6. Heading
          <span class="float-right note text-muted">font-size:
            <br> 1.00rem</span>
        </h6>
      </div>
    </div>
    <p class="float-right note">* 1rem = 16px</p>
  </div>
  <div class="col-xl">
    <h4>Paragraph</h4>
    <div class="card pb-3">
      <div class="card-body">
        <p>You can use the mark tag to
          <mark>highlight</mark> text.</p>
        <p>
          <del>This line of text is meant to be treated as deleted text.</del>
        </p>
        <p>
          <s>This line of text is meant to be treated as no longer accurate.</s>
        </p>
        <p>
          <ins>This line of text is meant to be treated as an addition to the document.</ins>
        </p>
        <p>
          <u>This line of text will render as underlined</u>
        </p>
        <p>
          <small>This line of text is meant to be treated as fine print.</small>
        </p>
        <p>
          <strong>This line rendered as bold text.</strong>
        </p>
        <p>
          <em>This line rendered as italicized text.</em>
        </p>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-xl">
    <h3>Font Color</h3>
    <div class="card">
      <div class="card-body">
          <p class="text-primary">.text-primary</p>
          <p class="text-secondary">.text-secondary</p>
          <p class="text-success">.text-success</p>
          <p class="text-danger">.text-danger</p>
          <p class="text-warning">.text-warning</p>
          <p class="text-info">.text-info</p>
          <p class="text-light bg-dark">.text-light</p>
          <p class="text-dark">.text-dark</p>
          <p class="text-muted">.text-muted</p>
          <p class="text-white bg-dark">.text-white</p>
      </div>
    </div>
  </div>
  <div class="col-xl">
    <h3>Link Color</h3>
    <div class="card">
      <div class="card-body">
          <p><a href="#" class="text-primary">Primary link</a></p>
          <p><a href="#" class="text-secondary">Secondary link</a></p>
          <p><a href="#" class="text-success">Success link</a></p>
          <p><a href="#" class="text-danger">Danger link</a></p>
          <p><a href="#" class="text-warning">Warning link</a></p>
          <p><a href="#" class="text-info">Info link</a></p>
          <p><a href="#" class="text-light bg-dark">Light link</a></p>
          <p><a href="#" class="text-dark">Dark link</a></p>
          <p><a href="#" class="text-muted">Muted link</a></p>
          <p><a href="#" class="text-white bg-dark">White link</a></p>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-xl">
    <h4>Blockquote</h4>
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
        <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
        <blockquote class="blockquote text-center">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
        <blockquote class="blockquote text-right">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<br>
<h4>List</h4>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xl">
        <strong>Unordered List</strong>
        <ul >
          <li>Lorem ipsum dolor sit amet</li>
          <li>Integer molestie lorem at massa</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>
      <div class="col-xl">
        <strong>Ordered List</strong>
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Integer molestie lorem at massa</li>
            <li>Nulla volutpat aliquam velit
              <ol>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
              </ol>
            </li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Eget porttitor lorem</li>
          </ol>
      </div>
    </div>
    <div>
      <strong>Inline List</strong>
      <ul class="list-inline">
        <li class="list-inline-item">Lorem ipsum</li>
        <li class="list-inline-item">Phasellus iaculis</li>
        <li class="list-inline-item">Nulla volutpat</li>
      </ul>
    </div>
  </div>
</div>

<br>
<h4>Description list alignment</h4>
<div class="card">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Description lists</dt>
      <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

      <dt class="col-sm-3">Euismod</dt>
      <dd class="col-sm-9">
        <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
        <p>Donec id elit non mi porta gravida at eget metus.</p>
      </dd>

      <dt class="col-sm-3">Malesuada porta</dt>
      <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

      <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
      <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

      <dt class="col-sm-3">Nesting</dt>
      <dd class="col-sm-9">
        <dl class="row">
          <dt class="col-sm-4">Nested definition list</dt>
          <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
        </dl>
      </dd>
    </dl>
  </div>
</div>