<h4>Stats : </h4>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="row col-md-8 no-gutters">
        <div class="row col-md no-gutters">
          <div class="col-md-11">
            <h3 class=" text-muted m-0 font-weight-bold">35,000</h3>
            <small class="text-muted m-0">Sales in current month</small>
            <div class="chart">
              <canvas id="month-sales-chart"></canvas>
            </div>
          </div>
          <div class="w-100 "></div>
          <div class="col">
            <small class="text-muted m-0 d-inline-block">Pages / Visit</small>
            <small class="strong d-inline-block font-weight-bold text-muted">236 321.80</small> 
          </div>
          <div class="col">
            <small class="text-muted m-0 d-inline-block">Pages / Visit</small>
            <small class="strong d-inline-block font-weight-bold text-muted">236 321.80</small> 
          </div>
          <div class="col">
            <small class="text-muted m-0 d-inline-block">Pages / Visit</small>
            <small class="strong d-inline-block font-weight-bold text-muted">236 321.80</small> 
          </div>
        </div>
        <div class="row col-md no-gutters">
          <div class="col-md-11 mt-4 mt-md-0">
            <h3 class=" text-muted m-0 font-weight-bold">35,000</h3>
            <small class="text-muted m-0">Sales in current month</small>
            <div class="chart">
              <canvas id="day-sales-chart"></canvas>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <small class="text-muted m-0 d-inline-block">Pages / Visit</small>
            <small class="strong d-inline-block font-weight-bold text-muted">236 321.80</small> 
          </div>
          <div class="col">
            <small class="text-muted m-0 d-inline-block">Pages / Visit</small>
            <small class="strong d-inline-block font-weight-bold text-muted">236 321.80</small> 
          </div>
          <div class="col">
            <small class="text-muted m-0 d-inline-block">Pages / Visit</small>
            <small class="strong d-inline-block font-weight-bold text-muted">236 321.80</small> 
          </div>
        </div>
      </div>
      <div class="col-md mt-4 mt-md-0">
        <div class="row no-gutters">
          <div class="col">
            <small class="text-muted font-weight-bold">income in last month</small>
            <h3 class="text-muted m-0 font-weight-bold">160,000</h3>
          </div>
          <div class="col">
            <small class="text-muted font-weight-bold">Sales in current year</small>
            <h3 class="text-muted m-0 font-weight-bold">42,000</h3>
          </div>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td class="text-muted"> <span class="font-weight-bold">142</span>   Projects</td>
              <td class="text-muted"> <span class="font-weight-bold">22</span>   Messages</td>
            </tr>
            <tr>
              <td class="text-muted"> <span class="font-weight-bold">142</span>   Projects</td>
              <td class="text-muted"> <span class="font-weight-bold">22</span>   Messages</td>
            </tr>
            <tr>
              <td class="text-muted"> <span class="font-weight-bold">142</span>   Projects</td>
              <td class="text-muted"> <span class="font-weight-bold">22</span>   Messages</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="full-chart mt-4">
      <canvas id="full-chart"></canvas>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-7">
    <h4 class="mt-4">Task : </h4>
    <div class="card">
      <div class="card-body">
        <div *ngFor="let data of tasks;let i = index" class="task custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [checked]="data.check" id="{{'customCheck' + i}}">
          <label class="custom-control-label" for="{{'customCheck' + i}}">{{data.text}}</label>
        </div>
      </div>
    </div>
    <h4 class="mt-4"> Events : </h4>
    <div class="card">
      <div class="card-body sm-p-0">
        <div id="cal"></div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <h4 class="mt-4">Activity : </h4>
    <div class="card">
      <div class="card-body">
        <div class="activity">
          <div *ngFor="let data of activitys"  class="activity-block">
            <div class="activity-icon"><i class="material-icons">{{data.icon}}</i></div>
            <div class="activity-content card">
              <div class="activity-content-head card-header">{{data.head}}</div>
              <div class="activity-content-body card-body">{{data.body}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>