<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-body">1</div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-body">2</div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-body">3</div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    body
  </div>
</div>