<div class="row">
  <div class="col-md">
    <div class="card p-3">
      <div class="card-body">
        <p>Monthly Sales</p>
        <strong>1234</strong>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card p-3">
      <div class="card-body">
        <p>Monthly Visits</p>
        <strong>1234</strong>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card p-3">
      <div class="card-body">
        <p>Products</p>
        <strong>1234</strong>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card p-3">
      <div class="card-body">
        <p>Users</p>
        <strong>1234</strong>
      </div>
    </div>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <p>Statictcs</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md">
    <div class="card p-3">
      <div class="card-body">
        para111111
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card p-3">
      <div class="card-body">
        para111111
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card p-3">
      <div class="card-body">
        para111111
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg">
    <div class="card" style="height: 90px;">
      <div class="card-body">

      </div>
    </div>
    <div class="card mt-4" style="height: 90px;">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card" style="height: 200px;">
      <div class="card-body">

      </div>
    </div>
  </div>
</div>