/*
 * default theme colors
 */
 $default-body-bg: #eee !default;
 $default-sucess: #00c853 !default;
 $default-error: #ff5252 !default;
 $default-danger: #ff5252 !default;
 $default-info: #6200ea !default;
 $default-primary: #6200ea !default;
 $default-alert: #ffdb5b !default;
 $default-warning: #ffa000 !default;
 
 /*
  * Theme1 colors
  */
 $theme1-body-bg: #eee !default;
 $theme1-sucess: #00c853 !default;
 $theme1-error: #ff5252 !default;
 $theme1-danger: #ff5252 !default;
 $theme1-info: #6200ea !default;
 $theme1-primary: #6200ea !default;
 $theme1-alert: #ffdb5b !default;
 $theme1-warning: #ffa000 !default;
 
 /*
  * Theme2 colors
  */
 $theme2-body-bg: #eee !default;
 $theme2-sucess: #00c853 !default;
 $theme2-error: #ff5252 !default;
 $theme2-danger: #ff5252 !default;
 $theme2-info: #6200ea !default;
 $theme2-primary: #6200ea !default;
 $theme2-alert: #ffdb5b !default;
 $theme2-warning: #ffa000 !default;
 
$themes: (
  default: (
    body-bg: $default-body-bg,
    primary: $default-primary,
    sucess:  $default-sucess
  ),
  theme1: (
    body-bg: $theme1-body-bg,
    primary: $theme1-primary,
    sucess:  $theme1-sucess
  ),
  theme2: (
    body-bg: $theme2-body-bg,
    primary: $theme2-primary,
    sucess:  $theme2-sucess
  )
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    [data-theme=#{$theme}] & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

