/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import './assets/themes';
@import './assets/variables';
@import './assets/mixins';
@import './assets/bootstrap-override';


/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($white,.7); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($black,.4); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $black; 
}


body {
  font-family: 'Open Sans', sans-serif ;
  @include themify($themes) { 
    background-color: themed('body-bg');  
  }
}


h2 {
  text-shadow: 2px 2px 3px rgba($black,.3);
}  

.card{
  margin: 5px 0;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.btn-just-icon {
  height: 41px;
  width: 41px;
  padding: 0;
  position: relative;
  border-radius: 50%;
  i{
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    line-height: 41px;
    position: absolute;
  }
}

/*
* notifications
*/
.simple-notification{
  box-shadow: 0 5px 15px 0 rgba($black,.4);
  border-radius: 0.3rem;
  .sn-content,.sn-title{
    color: $white !important;
  }
  .sn-progress-loader > span{
    background: rgba($white,.5) !important;
  }
  &.warn {
    @include themify($themes) { 
      background-color: themed('warning') !important;  
    }
  }
  &.success {
    @include themify($themes) { 
      background-color: themed('sucess') !important;  
    }
  } 
  &.error {
    @include themify($themes) { 
      background-color: themed('error') !important;  
    }
  }
  &.info {
    @include themify($themes) { 
      background-color: themed('info') !important;  
    }
  }
  &.alert{
    @include themify($themes) { 
      background-color: themed('error') !important;  
    }
  }
}

.btn-group{
  &>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.btn.btn-round {
  border-radius: 30px;
}