/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand');

@import 'mixins';
@import 'bootstrap-override';
@import 'third-party-overrides';

html,body * {
  @include scroll-style(rgba($black,.4),rgba($white,.4),.4rem);
}

/**** preload to hide transition animation effect on website load ****/
.preload * { 
  transition: none !important;
} 

/**** heading font ****/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}


/**** heading with shadow effect ****/
h2.heading {
  text-shadow: 2px 2px 3px rgba($black,.3);
}


hr.underline {
  width:        90%;
  left:         5%;
  margin:       0;
  position:     relative;
  border-top:   1px solid $white;
}


hr.udr-head {
  border:           none;
  height:           1px;
  background-color: $secondary;
}

/**** nav bar ****/
.navigation-bar {
  left: $sidebar-width;
  transition: $transition-base;
}

/***** sidebar *****/
.sidebar,.sidebar-panel {
  width:$sidebar-width;
  transition: $transition-base;
}

/***** main panel ****/
.main-panel {
  width: calc(100% - #{$sidebar-width});
}

/**** sidebar minimize ****/

@mixin sidebar-mini-mixin() {
  .mini-hide {
    display: none !important;
  }
  .sidebar-item {
    margin: 0;
    a {
      margin: .5rem 0 0 .5rem;
      i.toggle-icon{
        right: 0 !important;
        font-size: 1rem;
        top: .8rem !important;
      }
    }
  }
}

.sidebar-mini {
  .sidebar-panel, .sidebar {
    width: $sidebar-mini-width !important;
  }
  .sidebar {
    @include sidebar-mini-mixin();
  }
  .main-panel {
    width: calc(100% - #{$sidebar-mini-width}) !important;
  }
  .navigation-bar {
    left: $sidebar-mini-width !important;
  }
  @include media-breakpoint-down(md) { 
    .sidebar-panel, .sidebar { 
      width:  $sidebar-width-md !important;
    }
    .sidebar {
      &.hide {
        width: $sidebar-mini-width-md !important ;
      }
      .sidebar-item  a strong {
        display: inline-block !important;
      }
    }
    .navigation-bar {
      left: $sidebar-mini-width-md !important;
      &:not(.sidebar-hidden) {
        left: 0 !important;
      }
    }
  }
  @include media-breakpoint-down(sm) { 
    .sidebar-panel {
      width: 0 !important;
    }
    .sidebar {
      width: $sidebar-width-sm !important;
      &.hide {
        width: 0  !important;
        left: -5% !important;
      }
    }
    .main-panel {
      width: 100% !important;
    }
    .navigation-bar {
      left: 0 !important;
    }
  }
}

/**** sidebar for md devices ****/
@include media-breakpoint-between(sm,md) {
  .sidebar.hide {
    @include sidebar-mini-mixin();
  }
}

/**** material icons position fix ****/
i.material-icons {
  vertical-align: middle;
}

/**** btn ****/
.btn-just-icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  i,i.material-icons{
    font-size: 1.2rem;
  }
}

/* round button */
.btn.btn-round {
  border-radius: $btn-round-br;
}

/* round button group */
.btn-group-round {
  @extend .btn-group;
  border-radius: $btn-round-br;
  & > .btn:last-child:not(.dropdown-toggle) {
    border-radius: 0 $btn-round-br $btn-round-br 0;
  }
  & >.btn:first-child {
    border-radius: $btn-round-br 0 0 $btn-round-br;
  }
  &.btn-group-vertical {
    & > .btn:last-child:not(.dropdown-toggle) {
      border-radius:0 0 $btn-round-br  $btn-round-br;
    }
    & >.btn:first-child {
      border-radius: $btn-round-br $btn-round-br 0 0;
    }
  }
}

/***** custom paginatons styles *****/
.pagination-round {
  @extend .pagination;
  .page-item {
    &:first-child .page-link, &:last-child .page-link , .page-link{
      min-width: 2.2rem;
      min-height: 2.2rem;
      border-radius: 50%;
    }
  }
}

.pagination-shwd {
  @extend .pagination;
  .page-link {
    box-shadow: $box-shadow-sm;
    margin: 0 .2rem;
  }
}
.pagination-round-shwd {
  @extend .pagination-round;
  .page-link {
    box-shadow: $box-shadow-sm;
    margin: 0 .25rem;
    border-radius: 50%;
  }
}

/**** custom tabs *****/
.custom-tab {
  .tab-content{
    margin-top: -2px;
    background-color: $white;
    border-color: $white;
    padding: 1rem;
  }
  .nav-tabs >li{
    .nav-link {
      padding: 1rem;
      &.active{
        color: $black;
        background-color:$white;
        border-color:$white;
      }
    }
  }   
}


/**** form input types ****/
.form-control .no-border, input.no-border {
  border: none;
  box-shadow: none;
  padding-left: 0;
  line-height: 0;
  background-image: linear-gradient(0deg,$black 1px,$white 0);
  &:focus{
    border: none;
    box-shadow: 0 0.4rem 0.2rem -0.2rem lighten($primary,40%);
    background-image: linear-gradient(0deg,lighten($primary,35%) 1px,$white 0);
  }
}
.form-control .rounded-border, input.rounded-border {
  border-radius: $btn-round-br;
}
.input-with-icon {
  position: relative;
  i{
    position: absolute;
    top: .2rem;
    left: 0;
  }
  input{
    padding-left:2rem;
  }
}
