/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import './assets/style/bootstrap-override';

/* custom scroller (not supported in firefox) */
/* width */
::-webkit-scrollbar {
  width: .5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba($white,.7); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($black,.4); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $black; 
}

/* heading with shadow effect */
h2.heading {
  text-shadow: 2px 2px 3px rgba($black,.3);
}


/*Brand Images/Icons*/
// .brandImg{
//   height: $navbar-height;
//   width: $navbar-height;
//   margin: 10px;
//   border-radius: 50%;
// }


/* nav bar*/
.navigation-bar {
  left: $sidebar-width;
  transition: all .25s ease;
}
/*sidebar*/
.sidebar,.sidebar-panel {
  width:$sidebar-width;
  transition: all .25s ease;
}

/**main panel*/
.main-panel{
  width: 100% - $sidebar-width;
}

/** sidebar mini mixin*/
@mixin sidebar-mini-mixin() {
  .sidebar-header > strong{
    display: none !important;
  }
  .sidebar-item {
    margin: 0;
    a {
      margin: .5rem 0 0 .5rem;
      strong, .arrow,{
        display: none !important;
      }
      i.toggle-icon{
        right: 0 !important;
        font-size: 1rem;
        top: .8rem !important;
      }
    }
  }
}

/**sidebar minimize*/
.sidebar-mini {
  .sidebar-panel, .sidebar{
    width: $sidebar-mini-width;
  }
  .main-panel {
    width: 100% - $sidebar-mini-width;
  }
  .navigation-bar{
    left: $sidebar-mini-width;
  }
  .sidebar{
    @include sidebar-mini-mixin();
    @include media-breakpoint-down(lg) {
      .sidebar-item  a strong {
        display: inline-block !important;
      }
    }
  }
}
/*sidebar for md devices*/
@include media-breakpoint-between(md,lg) {
  .sidebar.hide {
    @include sidebar-mini-mixin();
  }
}

/* material icons position fix */
i.material-icons {
  vertical-align: middle;
}
.btn-just-icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  i,i.material-icons{
    font-size: 1.2rem;
  }
}


/* round button */
.btn.btn-round {
  border-radius: $btn-round-br;
}

/* round button group */
.btn-group-round {
  @extend .btn-group;
  border-radius: $btn-round-br;
  & > .btn:last-child:not(.dropdown-toggle) {
    border-radius: 0 $btn-round-br $btn-round-br 0;
  }
  & >.btn:first-child {
    border-radius: $btn-round-br 0 0 $btn-round-br;
  }
  &.btn-group-vertical {
    & > .btn:last-child:not(.dropdown-toggle) {
      border-radius:0 0 $btn-round-br  $btn-round-br;
    }
    & >.btn:first-child {
      border-radius: $btn-round-br $btn-round-br 0 0;
    }
  }
}

/* paginatons styles */
.pagination-round {
  @extend .pagination;
  .page-item {
    &:first-child .page-link, &:last-child .page-link , .page-link{
      border-radius: 50%;
    }
  }
}
.pagination-shwd {
  @extend .pagination;
  .page-link {
    box-shadow: $box-shadow;
    margin: 0 .25rem;
  }
}
.pagination-round-shwd {
  @extend .pagination-round;
  .page-link {
    box-shadow: $box-shadow;
    margin: 0 .25rem;
    border-radius: 50%;
  }
}



/** form input */
.form-control .no-border, input.no-border{
  border: none;
  box-shadow: none;
  padding-left: 0;
  line-height: 0;
  background-image: linear-gradient(0deg,$black 1px,$white 0);
  &:focus{
    border: none;
    box-shadow: 0 0.4rem 0.2rem -0.2rem lighten($primary,40%);
    background-image: linear-gradient(0deg,lighten($primary,35%) 1px,$white 0);
  }
}
.form-control .rounded-border, input.rounded-border{
  border-radius: $btn-round-br;
}
.input-with-icon{
  position: relative;
  i{
    position: absolute;
    top: .2rem;
    left: 0;
    // color: rgba(lighten($primary,.95%),0.8);
  }
  input{
    padding-left:2rem;
  }
}


/* notifications */
.simple-notification{
  box-shadow: 0 5px 15px 0 rgba($black,.4);
  border-radius: 0.3rem;
  .sn-content,.sn-title{
    color: $white !important;
  }
  .sn-progress-loader > span{
    background: rgba($white,.5) !important;
  }
  &.warn {
    background-color: $warning !important;  
  }
  &.success {
    background-color: $sucess !important;  
  } 
  &.error {
    background-color: $error !important;  
  }
  &.info {
    background-color: $info !important;  
  }
  &.alert{
    background-color: $error !important;  
  }
}


/*ckeditor editor*/
.ck.ck-editor__main>.ck-editor__editable{
  min-height: 200px;
}