/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './assets/_variable.scss';

body {
  font-family: 'Roboto', 'sans-serif' !important;
  background-color: $bodybg-color;
  // font-weight: 300;
}


.btn-just-icon {
  height: 41px;
  width: 41px;
  padding: 0;
  position: relative;
  border-radius: 50%;
  i{
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    line-height: 41px;
    position: absolute;
  }
}

.card{
  margin: 5px 0;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

// sidebar scrollbar
.ng-scrollbar{
  &.-vertical{
    background-color: rgba(255,255,255,.3);
  }
  .ng-scrollbar-thumb{
    background-color: rgba(255,255,255,.4);
  }
}