<h2 class="heading text-center">Calendar</h2>

<div class="row">
  <div class="col-lg">
    <h4 class="mt-4">Month </h4>
    <div class="card">
      <div id='calendar-month'></div>
    </div>
  </div>
  <div class="col-lg">
    <h4 class="mt-4">Week</h4>
    <div class="card">
      <div id='calendar-week'></div>
    </div>
  </div>
</div>

<h4 class="mt-4">Calendar Events</h4>
<div class="card">
  <div id='calendar'></div>
</div>
<p class="d-block mt-4 text-muted">for more information:
  <a href="https://fullcalendar.io/" target="_blank"> fullcalendar
    <i class="material-icons" style="font-size: .9rem">launch</i>
  </a>
</p>